attrs==22.1.0
blis==0.7.8
catalogue==2.0.8
certifi==2022.9.24
cffi
charset-normalizer==2.1.1
click==8.1.3
confection==0.0.3
cymem==2.0.7
filelock==3.8.0
future
huggingface-hub==0.10.1
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
jsonlines==3.1.0
langcodes==3.3.0
MarkupSafe==2.1.1
murmurhash==1.0.9
numpy
packaging==21.3
pathy==0.6.2
preshed==3.0.8
pycparser
pydantic==1.9.2
pyparsing==3.0.9
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
sacremoses==0.0.53
semantic-version==2.10.0
sentencepiece==0.1.97
setuptools-rust==1.5.2
six==1.16.0
smart-open==5.2.1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.4
thinc==8.1.4
thinc-apple-ops==0.1.1
tokenizers==0.13.2.dev0
toml==0.10.2
torch==1.9.0
tqdm==4.64.1
transformers==3.2.0
typer==0.4.2
typing_extensions
urllib3==1.26.12
wasabi==0.10.1
